APP_NAME=VABIS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=vabis
DB_USERNAME=vabis
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=vabis
AWS_SECRET_ACCESS_KEY=secret123
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=vabis-files
AWS_ENDPOINT=http://127.0.0.1:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025

QUEUE_CONNECTION=redis
