APP_NAME="SIS Demo"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=sis_demo
DB_USERNAME=sis
DB_PASSWORD=sis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
